# New York, JFK Airport
NOAA GHCN Data: https://www.ncei.noaa.gov/cdo-web/datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
weather=pd.read_csv("JFK_40.csv")
weather['DATE']= pd.to_datetime(weather['DATE'])
weather.set_index(["DATE"],inplace=True)
weather = weather.loc['1993-01-01':'2023-09-23']

In [3]:
# The documention details the core weather variables. (These variables have the lowest null values.)
df = weather[["AWND","PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()
df.apply(pd.isnull).sum()

AWND    3
PRCP    0
SNOW    0
SNWD    3
TMAX    0
TMIN    0
dtype: int64

# AWND

In [4]:
w = df.AWND.isna().groupby(df.AWND.notna().cumsum()).sum()
w = w[w!=0]

b = pd.cut(w, bins=[0, 1, 5, np.inf], labels=['0-1','2-5','6 and above'])
out = b.groupby(b).size().reset_index(name='Number')
print (out)

          AWND  Number
0          0-1       3
1          2-5       0
2  6 and above       0

/var/folders/f3/567zc1c91t7dv2rxdqfm1zkxrcmrzx/T/ipykernel_56939/442758383.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  out = b.groupby(b).size().reset_index(name='Number')

In [5]:
w = df.AWND.isna().groupby(df.AWND.notna().cumsum()).cumsum() #cumsum for index location
w = w[w!=0]
w

DATE
1997-01-21    1
1999-02-11    1
2023-09-23    1
Name: AWND, dtype: int64

In [6]:
filtered_df = df.loc['1997-01-20':'1997-01-22']
filtered_df

             AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1997-01-20  12.75  0.00   0.0   0.0    34    18
1997-01-21    NaN  0.00   0.0   0.0    38    27
1997-01-22  15.66  0.13   0.0   0.0    47    30

In [7]:
df.loc[df['AWND'].isnull(),'AWND']=df['AWND'].interpolate()

In [8]:
filtered_df = df.loc['1997-01-20':'1997-01-22']
filtered_df

              AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1997-01-20  12.750  0.00   0.0   0.0    34    18
1997-01-21  14.205  0.00   0.0   0.0    38    27
1997-01-22  15.660  0.13   0.0   0.0    47    30

In [9]:
df.apply(pd.isnull).sum()

AWND    0
PRCP    0
SNOW    0
SNWD    3
TMAX    0
TMIN    0
dtype: int64

# SNWD

In [10]:
sd = df.SNWD.isna().groupby(df.SNWD.notna().cumsum()).sum()
sd = sd[sd!=0]

b = pd.cut(sd, bins=[0, 1, 5, np.inf], labels=['0-1','2-5','6 and above'])
out = b.groupby(b).size().reset_index(name='Number')
print (out)

          SNWD  Number
0          0-1       3
1          2-5       0
2  6 and above       0

/var/folders/f3/567zc1c91t7dv2rxdqfm1zkxrcmrzx/T/ipykernel_56939/1154184717.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  out = b.groupby(b).size().reset_index(name='Number')

In [11]:
sd = df.SNWD.isna().groupby(df.SNWD.notna().cumsum()).cumsum() #cumsum for index location
sd = sd[sd!=0]
sd

DATE
2023-07-08    1
2023-07-10    1
2023-09-09    1
Name: SNWD, dtype: int64

In [12]:
filtered_df = df.loc['2023-07-07':'2023-07-11']
filtered_df

             AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
2023-07-07   6.49  0.00   0.0   0.0    84    74
2023-07-08   6.71  0.00   0.0   NaN    84    73
2023-07-09  10.07  0.53   0.0   0.0    81    74
2023-07-10   9.84  0.00   0.0   NaN    87    71
2023-07-11  10.51  0.00   0.0   0.0    86    70

In [13]:
df.loc[df['SNWD'].isnull(),'SNWD']=df["SNWD"].fillna(0)

In [14]:
df.apply(pd.isnull).sum()

AWND    0
PRCP    0
SNOW    0
SNWD    0
TMAX    0
TMIN    0
dtype: int64