# Kansas City, MCI Airport
NOAA GHCN Data: https://www.ncei.noaa.gov/cdo-web/datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
weather=pd.read_csv("MCI_40.csv")
weather['DATE']= pd.to_datetime(weather['DATE'])
weather.set_index(["DATE"],inplace=True)
weather = weather.loc['1993-01-01':'2023-09-23']

In [3]:
# The documention details the core weather variables + wind. (These variables have the lowest null values.)
df = weather[["AWND","PRCP", "SNOW", "SNWD", "TMAX", "TMIN"]].copy()
df.apply(pd.isnull).sum()

AWND      6
PRCP      0
SNOW    126
SNWD    135
TMAX      0
TMIN      0
dtype: int64

# AWND

In [4]:
w = df.AWND.isna().groupby(df.AWND.notna().cumsum()).sum()
w = w[w!=0]

b = pd.cut(w, bins=[0, 1, 5, np.inf], labels=['0-1','2-5','6 and above'])
out = b.groupby(b).size().reset_index(name='Number')
print (out)

          AWND  Number
0          0-1       2
1          2-5       2
2  6 and above       0

/var/folders/f3/567zc1c91t7dv2rxdqfm1zkxrcmrzx/T/ipykernel_56908/442758383.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  out = b.groupby(b).size().reset_index(name='Number')

In [5]:
w = df.AWND.isna().groupby(df.AWND.notna().cumsum()).cumsum() #cumsum for index location
w = w[w!=0]
pd.set_option('display.max_rows', None)
w

DATE
1997-04-06    1
1997-08-25    1
1997-08-26    2
1998-05-02    1
1999-11-05    1
1999-11-06    2
Name: AWND, dtype: int64

In [6]:
filtered_df = df.loc['1999-11-04':'1999-11-07']
filtered_df

             AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1999-11-04  10.51   0.0   0.0   0.0    68    33
1999-11-05    NaN   0.0   0.0   0.0    70    52
1999-11-06    NaN   0.0   0.0   0.0    74    55
1999-11-07   5.59   0.0   0.0   0.0    76    45

In [7]:
df.loc[df['AWND'].isnull(),'AWND']=df['AWND'].interpolate()

In [8]:
filtered_df = df.loc['1999-11-04':'1999-11-07']
filtered_df

             AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1999-11-04  10.51   0.0   0.0   0.0    68    33
1999-11-05   8.87   0.0   0.0   0.0    70    52
1999-11-06   7.23   0.0   0.0   0.0    74    55
1999-11-07   5.59   0.0   0.0   0.0    76    45

In [9]:
df.apply(pd.isnull).sum()

AWND      0
PRCP      0
SNOW    126
SNWD    135
TMAX      0
TMIN      0
dtype: int64

# SNOW

In [10]:
s = df.SNOW.isna().groupby(df.SNOW.notna().cumsum()).sum()
s = s[s!=0]

b = pd.cut(s, bins=[0, 1, 100, np.inf], labels=['0-1','2-100','101 and above'])
out = b.groupby(b).size().reset_index(name='Number')
print (out)

            SNOW  Number
0            0-1       3
1          2-100       0
2  101 and above       1

/var/folders/f3/567zc1c91t7dv2rxdqfm1zkxrcmrzx/T/ipykernel_56908/1413220955.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  out = b.groupby(b).size().reset_index(name='Number')

In [11]:
s = df.SNOW.isna().groupby(df.SNOW.notna().cumsum()).cumsum() #cumsum for index location
s = s[s!=0]
s

DATE
1996-02-17      1
1996-02-19      1
1996-05-09      1
1996-05-31      1
1996-06-01      2
1996-06-02      3
1996-06-03      4
1996-06-04      5
1996-06-05      6
1996-06-06      7
1996-06-07      8
1996-06-08      9
1996-06-09     10
1996-06-10     11
1996-06-11     12
1996-06-12     13
1996-06-13     14
1996-06-14     15
1996-06-15     16
1996-06-16     17
1996-06-17     18
1996-06-18     19
1996-06-19     20
1996-06-20     21
1996-06-21     22
1996-06-22     23
1996-06-23     24
1996-06-24     25
1996-06-25     26
1996-06-26     27
1996-06-27     28
1996-06-28     29
1996-06-29     30
1996-06-30     31
1996-07-01     32
1996-07-02     33
1996-07-03     34
1996-07-04     35
1996-07-05     36
1996-07-06     37
1996-07-07     38
1996-07-08     39
1996-07-09     40
1996-07-10     41
1996-07-11     42
1996-07-12     43
1996-07-13     44
1996-07-14     45
1996-07-15     46
1996-07-16     47
1996-07-17     48
1996-07-18     49
1996-07-19     50
1996-07-20     51
1996-07-21     52
1996-07-22     53
1996-07-23     54
1996-07-24     55
1996-07-25     56
1996-07-26     57
1996-07-27     58
1996-07-28     59
1996-07-29     60
1996-07-30     61
1996-07-31     62
1996-08-01     63
1996-08-02     64
1996-08-03     65
1996-08-04     66
1996-08-05     67
1996-08-06     68
1996-08-07     69
1996-08-08     70
1996-08-09     71
1996-08-10     72
1996-08-11     73
1996-08-12     74
1996-08-13     75
1996-08-14     76
1996-08-15     77
1996-08-16     78
1996-08-17     79
1996-08-18     80
1996-08-19     81
1996-08-20     82
1996-08-21     83
1996-08-22     84
1996-08-23     85
1996-08-24     86
1996-08-25     87
1996-08-26     88
1996-08-27     89
1996-08-28     90
1996-08-29     91
1996-08-30     92
1996-08-31     93
1996-09-01     94
1996-09-02     95
1996-09-03     96
1996-09-04     97
1996-09-05     98
1996-09-06     99
1996-09-07    100
1996-09-08    101
1996-09-09    102
1996-09-10    103
1996-09-11    104
1996-09-12    105
1996-09-13    106
1996-09-14    107
1996-09-15    108
1996-09-16    109
1996-09-17    110
1996-09-18    111
1996-09-19    112
1996-09-20    113
1996-09-21    114
1996-09-22    115
1996-09-23    116
1996-09-24    117
1996-09-25    118
1996-09-26    119
1996-09-27    120
1996-09-28    121
1996-09-29    122
1996-09-30    123
Name: SNOW, dtype: int64

In [12]:
filtered_df = df.loc['1996-02-15':'1996-02-20']
filtered_df

             AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1996-02-15  16.11   0.0   0.0   0.0    42    16
1996-02-16  10.29   0.0   0.0   0.0    32     9
1996-02-17  13.87   0.0   NaN   NaN    43    23
1996-02-18   9.62   0.0   0.0   0.0    43    21
1996-02-19   9.17   0.0   NaN   NaN    66    26
1996-02-20  10.96   0.0   0.0   0.0    69    45

In [13]:
df.loc[df['SNOW'].isnull(),'SNOW']=df["SNOW"].fillna(0)

In [14]:
df.apply(pd.isnull).sum()

AWND      0
PRCP      0
SNOW      0
SNWD    135
TMAX      0
TMIN      0
dtype: int64

# SNWD

In [15]:
sd = df.SNWD.isna().groupby(df.SNWD.notna().cumsum()).sum()
sd = sd[sd!=0]

b = pd.cut(sd, bins=[0, 1, 4, 100, np.inf], labels=['0-1','2-4','5-100','101 and above'])
out = b.groupby(b).size().reset_index(name='Number')
print (out)

            SNWD  Number
0            0-1       7
1            2-4       1
2          5-100       0
3  101 and above       1

/var/folders/f3/567zc1c91t7dv2rxdqfm1zkxrcmrzx/T/ipykernel_56908/1529939925.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  out = b.groupby(b).size().reset_index(name='Number')

In [16]:
sd = df.SNWD.isna().groupby(df.SNWD.notna().cumsum()).cumsum() #cumsum for index location
sd = sd[sd!=0]
sd

DATE
1996-02-01      1
1996-02-02      2
1996-02-03      3
1996-02-04      4
1996-02-06      1
1996-02-17      1
1996-02-19      1
1996-02-27      1
1996-04-15      1
1996-05-09      1
1996-05-31      1
1996-06-01      2
1996-06-02      3
1996-06-03      4
1996-06-04      5
1996-06-05      6
1996-06-06      7
1996-06-07      8
1996-06-08      9
1996-06-09     10
1996-06-10     11
1996-06-11     12
1996-06-12     13
1996-06-13     14
1996-06-14     15
1996-06-15     16
1996-06-16     17
1996-06-17     18
1996-06-18     19
1996-06-19     20
1996-06-20     21
1996-06-21     22
1996-06-22     23
1996-06-23     24
1996-06-24     25
1996-06-25     26
1996-06-26     27
1996-06-27     28
1996-06-28     29
1996-06-29     30
1996-06-30     31
1996-07-01     32
1996-07-02     33
1996-07-03     34
1996-07-04     35
1996-07-05     36
1996-07-06     37
1996-07-07     38
1996-07-08     39
1996-07-09     40
1996-07-10     41
1996-07-11     42
1996-07-12     43
1996-07-13     44
1996-07-14     45
1996-07-15     46
1996-07-16     47
1996-07-17     48
1996-07-18     49
1996-07-19     50
1996-07-20     51
1996-07-21     52
1996-07-22     53
1996-07-23     54
1996-07-24     55
1996-07-25     56
1996-07-26     57
1996-07-27     58
1996-07-28     59
1996-07-29     60
1996-07-30     61
1996-07-31     62
1996-08-01     63
1996-08-02     64
1996-08-03     65
1996-08-04     66
1996-08-05     67
1996-08-06     68
1996-08-07     69
1996-08-08     70
1996-08-09     71
1996-08-10     72
1996-08-11     73
1996-08-12     74
1996-08-13     75
1996-08-14     76
1996-08-15     77
1996-08-16     78
1996-08-17     79
1996-08-18     80
1996-08-19     81
1996-08-20     82
1996-08-21     83
1996-08-22     84
1996-08-23     85
1996-08-24     86
1996-08-25     87
1996-08-26     88
1996-08-27     89
1996-08-28     90
1996-08-29     91
1996-08-30     92
1996-08-31     93
1996-09-01     94
1996-09-02     95
1996-09-03     96
1996-09-04     97
1996-09-05     98
1996-09-06     99
1996-09-07    100
1996-09-08    101
1996-09-09    102
1996-09-10    103
1996-09-11    104
1996-09-12    105
1996-09-13    106
1996-09-14    107
1996-09-15    108
1996-09-16    109
1996-09-17    110
1996-09-18    111
1996-09-19    112
1996-09-20    113
1996-09-21    114
1996-09-22    115
1996-09-23    116
1996-09-24    117
1996-09-25    118
1996-09-26    119
1996-09-27    120
1996-09-28    121
1996-09-29    122
1996-09-30    123
1996-10-01    124
2023-07-25      1
Name: SNWD, dtype: int64

In [17]:
filtered_df = df.loc['1996-01-31':'1996-02-05']
pd.set_option('display.max_rows', None)
filtered_df

             AWND  PRCP  SNOW  SNWD  TMAX  TMIN
DATE
1996-01-31   4.70   0.0   0.0   0.0    11    -3
1996-02-01   7.16   0.0   0.0   NaN    16     7
1996-02-02  11.41   0.0   0.0   NaN     7   -11
1996-02-03   5.59   0.0   0.0   NaN     7   -12
1996-02-04  11.86   0.0   0.0   NaN    23    -7
1996-02-05   7.83   0.0   0.0   0.0    35    15

In [18]:
df.loc[df['SNWD'].isnull(),'SNWD']=df["SNWD"].fillna(0)

In [19]:
df.apply(pd.isnull).sum()

AWND    0
PRCP    0
SNOW    0
SNWD    0
TMAX    0
TMIN    0
dtype: int64